<omni-flex-container direction="column" variant="white" padding="giant" gap="large" height="100%">
    <div class="main">
        <div class="main">
            <omni-date-picker *ngIf="selectedMode === 'history'" class="date-picker" inputId="date-picker"
                [clearable]="true" [date]="currentDate"
                (dateSelected)="handleDatePickerDateCalendarClick($event)"></omni-date-picker>
            <omni-select [value]="" name="status" (change)="onChangeTradingDesk($event)">
                <option value="">SELECT TRADING DESK</option>
                <option *ngFor="let jStatus of tradingDeskData" value={{jStatus.id}}>
                    {{jStatus.deskName}}
                </option>
            </omni-select>
        </div>
        <div>
            <button theme="light" background="1" omniButton size="default" rank="secondary" variant="action"
                shape="button" (click)="filterData('all')" [ngClass]="{'selected': selectedMode === 'all'}"
                class="button-style">
                All <span>(0)</span>
            </button>
            <button theme="light" background="1" omniButton size="default" rank="secondary" variant="action"
                shape="button" (click)="filterData('Pending')" [ngClass]="{'selected': selectedMode === 'Pending'}"
                class="button-style">
                Pending <span>(0)</span>
            </button>
            <button theme="light" background="1" omniButton size="default" rank="secondary" variant="action"
                shape="button" (click)="filterData('In Progress')" [ngClass]="{'selected': selectedMode === 'In Progress'}"
                class="button-style">
                In Progress <span>(0)</span>
            </button>
            <button theme="light" background="1" omniButton size="default" rank="secondary" variant="action"
                shape="button" (click)="filterData('Past Due')" [ngClass]="{'selected': selectedMode === 'Past Due'}"
                class="button-style">
                Past Due <span>(0)</span>
            </button>
            <button theme="light" background="1" omniButton size="default" rank="secondary" variant="action"
                shape="button" (click)="filterData('Complete')" [ngClass]="{'selected': selectedMode === 'Complete'}"
                class="button-style">
                Complete <span>(0)</span>
            </button>
        </div>
    </div>    
</omni-flex-container>

<omni-flex-container>
    <omni-table-layout class="table-layout">
        <table omniTable>
            <thead omniThead>
                <tr omniTr cellBorder="cell">
                    <th omniTh *ngFor="let col of columns" (click)="sortByObjectKey(col.key)">{{col.label}}
                        <omni-sort-indicator [direction]="col.sortDirection"></omni-sort-indicator>
                    </th>
                </tr>
            </thead>
            <tbody omniTbody>
                <tr omniTr cellBorder="cell" *ngFor="let job of filteredData" class="table-row">
                    <td omniTd class="job-id" (click)="openJobDetailModal(job)">{{job.packageName}}</td>
                    <td omniTd (click)="openChangeStatusModal()" class="status"
                        [ngClass]="{'complete': job.status === 'Complete', 'error': job.status === 'Error', 'ready': job.status === 'Ready', 'waiting': job.status === 'Waiting'}">
                        {{job.status}}</td>
                    <td omniTd>{{job.groupName}}</td>
                </tr>
            </tbody>
            <tfoot omniTfoot>
                <tr omniTr cellBorder="cell">
                </tr>
            </tfoot>
        </table>
        <omni-table-footer>
            <omni-pagination-controls [currentPage]="currentPage" [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                (pageControlsChange)="updateCurrentPage($event)"></omni-pagination-controls>
        </omni-table-footer>
    </omni-table-layout>
</omni-flex-container>

<omni-modal [visible]="visible" [closeOnClickOutside]="true" [closeOnKeydownEscape]="true" (closed)="modalClosed()">
    <omni-dialog [open]="visible" size="small"
        [ngClass]="{'success-dialog': sentEmailSuccessfully, 'dialog':!sentEmailSuccessfully}">
        <omni-dialog-header class="dialog-header">
            <omni-dialog-header-actions>
                <div omniDialogHeaderTrailingActions>
                    <button omniButton type="button" shape="circle" variant="neutral" rank="tertiary" size="small"
                        aria-label="Close" (click)="closeModal()">
                        <omni-icon [svg]="iconClose"></omni-icon>
                    </button>
                </div>
            </omni-dialog-header-actions>
        </omni-dialog-header>
        <omni-dialog-content *ngIf="!sentEmailSuccessfully" class="dialog-content">
            <div> Content Here </div>
        </omni-dialog-content>
    </omni-dialog>
</omni-modal>