<omni-app-header variant="dark">
  <omni-app-header-logo>
    <svg viewBox="0 0 36 36" height="36px">
      <circle
        cx="18"
        cy="18"
        r="14"
        stroke="${omni.colorWhite}"
        stroke-width="2"
        fill="${omni.colorAccentBlue35}"
      />
    </svg>
  </omni-app-header-logo>
  <omni-app-header-title>
    <omni-flex direction="row" gap="medium">
      <omni-text-body>Job Monitor</omni-text-body>
      <omni-text-body>Risk Reports</omni-text-body>
      <omni-text-body>Package Tracker</omni-text-body>
      <omni-text-body>Issue Log</omni-text-body>
      <omni-text-body>DBMS PgBlazor</omni-text-body>
    </omni-flex>
  </omni-app-header-title>
  <omni-flex direction="row" gap="medium">
      <omni-text-body>One</omni-text-body>
      <omni-text-body>Two</omni-text-body>
      <omni-text-body>Three</omni-text-body>
    </omni-flex>
    <omni-flex
      height="100%"
      padding="huge"
      justifyContent="center"
      alignItems="center"
    >
      <omni-menu-button
        variant="outlineBlue"
        label="Export as ..."
        icon="ArrowDown"
      >
        <omni-menu-item > PDF </omni-menu-item>
        <omni-menu-item > JPEG </omni-menu-item>
        <omni-menu-item > PNG </omni-menu-item>
      </omni-menu-button>
    </omni-flex>

    <omni-flex
      height="100%"
      padding="huge"
      justifyContent="center"
      alignItems="center"
    >
      <button omniButton [omniMenuToggle]="menu">Menu</button>
      <omni-menu #menu>
        <omni-menu-item > Normal </omni-menu-item>
        <omni-menu-item  highlight>
          Highlight
        </omni-menu-item>
        <omni-menu-item disabled>
          Disabled
        </omni-menu-item>
      </omni-menu>
    </omni-flex>
    <div>
      Welcome Rosalind!
    </div>
    <div>
      <input omni-input type="search" placeholder="Search" />
    </div>
</omni-app-header>