

<omni-container variant="light" id = "homepage" [padding]="[ 'huge', 'giant']" >
  <omni-row padding="medium">
    <omni-text-heading variant="medium">
      Log Details
    </omni-text-heading>
<table omniTable variant="tableWithBorder">
  <tbody omniTbody>
    <tr omniTr>
      <td omniTd>
        <div class="col">
          <button omniButton rank="primary">Excel Export</button> 
          <input id="file-filter-input" type="text" placeholder="Filter files..." class="form-control my-2 bold-border">
         
          <ul id="files-list" class="list-group">
            <li *ngFor="let file of files" class="list-group-item list-group-item-action">
              {{ file.name }} - {{ file.size | number }} bytes - Last Modified: {{ file.lastModified }}
            </li>
          </ul>
          
        </div>
      </td>
    </tr>
  </tbody>
</table>

  </omni-row>
</omni-container>  
  