
.relative {
    position: relative;
    z-index: 10; 
}

.action-menu {
     position: absolute !important; 
     top: 25px; 
     right: 10px; 
     background-color: #C0E7F3; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 10000; 
     width: 150px; 
     display: none;
    } 
    .action-menu.open {
        display: block;
      }
     .action-menu ul { 
        list-style-type: none; 
        margin: 0; 
        padding: 0;
     } 
     .action-menu li {
         padding: 10px; 
         cursor: pointer;
         } 
    .action-menu li:hover { 
        background-color: #b2d5de; 
     }