<!--omni-app-root>
  <omni-app-layout>
    <omni-app-header variant="dark">
      <omni-app-header-title>OMNI Angular</omni-app-header-title>
    </omni-app-header>
    <omni-app-content>
      <h2 omniTextHeading>OMNI</h2>
    </omni-app-content>
    <omni-app-footer variant="customer">
      <omni-app-footer-legal>
        &copy; Copyright 2024 Capital One Services, LLC. All Rights Reserved.
      </omni-app-footer-legal>
    </omni-app-footer>
  </omni-app-layout>
</omni-app-root-->

<omni-app-root>
    <omni-app-layout>
      <app-header></app-header> 
      
      <omni-app-content>
        <router-outlet />
      </omni-app-content>
      <app-footer></app-footer>
    </omni-app-layout>
  </omni-app-root>