<omni-container variant="light" [padding]="['medium', 'huge', 'giant']" style="width: 100%; ">
  <omni-row [childWidth]="[1, 1 / 5]">

    <!-- Job Monitor Container -->
    <omni-container>
      <omni-flex direction="row" gap="medium" style="flex-wrap: wrap;">
        <omni-status-container width="350px" status="information" variant="white" padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Job Monitor"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium">
                <img src="./Maintainence.png" alt="logo" title="logo" width="50" height="50" />
              </omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Job Monitor > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

    <!-- Risk Reports Container -->
    <omni-container>
      <omni-flex direction="row" gap="medium" style="flex-wrap: wrap;">
        <omni-status-container width="350px" status="information" variant="white" padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Risk Reports"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium">
                <img src="./Statements.png" alt="logo" title="logo" width="50" height="50" />
              </omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Risk Reports > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

    <!-- Package Tracker Container -->
    <omni-container>
      <omni-flex direction="row" gap="medium" style="flex-wrap: wrap;">
        <omni-status-container width="350px" status="information" variant="white" padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Package Tracker"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium">
                <img src="./Review.png" alt="logo" title="logo" width="50" height="50" />
              </omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Package Tracker > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

    <!-- Issue Log Container -->
    <omni-container>
      <omni-flex direction="row" gap="medium" style="flex-wrap: wrap;">
        <omni-status-container width="350px" status="information" variant="white" padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Issue Log"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium">
                <img src="./Caution.png" alt="logo" title="logo" width="50" height="50" />
              </omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Issue Log > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

    <!-- Additional Section -->
    <omni-container>
      <omni-flex direction="row" gap="medium" style="flex-wrap: wrap;">
        <omni-status-container width="350px" status="information" variant="white" padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Header"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium">
                <img src="./Caution.png" alt="logo" title="logo" width="50" height="50" />
              </omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Issue Log > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

  </omni-row>
</omni-container>
