<omni-container variant="light" [padding]="['medium', 'huge', 'giant']" [fullWidth]="true" width="1170px" style="width: 1170px;">
    <omni-row [childWidth]="[1, 1 / 4]" gap="medium">

        <omni-container padding="medium">
          <omni-flex direction="row" gap="medium">
              <omni-status-container
                width="350px"
                status="information"
                variant="white"
                padding="medium">
                <omni-column gap="medium">
                  <omni-title-action title="Job Monitor"></omni-title-action>
                  <omni-container variant="whiteWithBorder" padding="medium">
                    <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
                    <omni-text-metric stack="medium" padding="medium"> <img src="../../assets/images/logo1.png" alt="logo" title="logo" width="50" height="50" /></omni-text-metric>
                    <omni-flex direction="row" justifyContent="space-between">
                      <omni-text-body><a href="javascript:void(0)"> Launch Job Monitor > </a></omni-text-body>
                    </omni-flex>
                </omni-container>                    
            </omni-column>
          </omni-status-container>
        </omni-flex>
      </omni-container>

      <omni-container padding="medium">
        <omni-flex direction="row" gap="medium">
          <omni-status-container
            width="350px"
            status="information"
            variant="white"
            padding="medium">
            <omni-column gap="medium">
              <omni-title-action title="Risk Reports"></omni-title-action>
              <omni-container variant="whiteWithBorder" padding="medium">
                <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
                <omni-text-metric stack="medium" padding="medium"> <img src="../../assets/images/logo2.png" alt="logo" title="logo" width="50" height="50" /></omni-text-metric>
                <omni-flex direction="row" justifyContent="space-between">
                    <omni-text-body><a href="javascript:void(0)"> Launch Risk Reports > </a></omni-text-body>
                  </omni-flex>
                </omni-container>                    
              </omni-column>
            </omni-status-container>
          </omni-flex>
        </omni-container>
        
        <omni-container padding="medium">
          <omni-flex direction="row" gap="medium">
            <omni-status-container
              width="350px"
              status="information"
              variant="white"
              padding="medium">
              <omni-column gap="medium">
                <omni-title-action title="Package Tracker"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium"> <img src="../../assets/images/logo3.png" alt="logo" title="logo" width="50" height="50" /></omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                <omni-text-body><a href="javascript:void(0)"> Launch Package Tracker > </a></omni-text-body>
              </omni-flex>
            </omni-container>                    
          </omni-column>
        </omni-status-container>
      </omni-flex>
    </omni-container>

    <omni-container padding="medium">
      <omni-flex direction="row" gap="medium">
        <omni-status-container
          width="350px"
          status="information"
          variant="white"
          padding="medium">
          <omni-column gap="medium">
            <omni-title-action title="Issue Log"></omni-title-action>
            <omni-container variant="whiteWithBorder" padding="medium">
              <omni-text-label>More than one paragraph in a chapter you expect them to say different things.?</omni-text-label>
              <omni-text-metric stack="medium" padding="medium"> <img src="../../assets/images/logo4.png" alt="logo" title="logo" width="50" height="50" /></omni-text-metric>
              <omni-flex direction="row" justifyContent="space-between">
                  <omni-text-body><a href="javascript:void(0)"> Launch Issue Log > </a></omni-text-body>
                </omni-flex>
              </omni-container>                    
            </omni-column>
          </omni-status-container>
        </omni-flex>
      </omni-container>
    
      </omni-row>
  </omni-container>
  