
/* You can add global styles to this file, and also import other style files */
@import '@cof/omni-styles/index.scss';

@include omni-Reset;
@include omni-Optimist;

body  {
    font-family: 'Optimist', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

#apppage .omni-gqydin, #apppage .omni-ysufa2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
    
}
#apppage .omni-ysufa2{
    padding-left: 75px;
    padding-right: 75px;
    background-color: #007F98;
}

#homepage .omni-178zswc {
  font-size: 24px;
  font-weight: normal;
}
#homepage .omni-15gm2gy {
  padding-top: 10px;
  text-align: center;
}
#homepage .omni-kgqrxe a {
  color: #397c99;
  text-decoration: none;
}

#homepage  .omni-178zswc{
    font-family: 'Optimist', Courier, monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px ;
    color: #141414;
}

 #homepage .homeBoxTxt{
    height: 100px ;
    font-family: 'Optimist', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}


  #header img {
    margin-right: 60px;
  }
  #header .omni-2lzp0v select{
    border: 5px solid #007F98;
    outline: none;
    color: #fff;
    background-color: #007F98;
    font-family: 'Optimist', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;

  }
 
  #header .profile {
    margin: 5px 0 0 5px;
  }

  /*------------ Section for Table css ------------*/
 .border-green{
  border-left: 3px  solid #12bd6a;
  background-color: #fff;
  padding-left: 10px;
}
/* Style for the table */
.box-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

/* Style for table headers */
.box-table th {
  background-color: #fff;
  color: #333;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
}
.box-table th span.textCompleted {
  background-color: #12bd6a;
  color: #ffffff;
  text-align: left;
  padding: 5px 10px;
}
.box-table th span.running {
  background-color: #0e77d2;
}
.box-table th span.waiting {
  background-color: #e09321;
}
.box-table th span.failed {
  background-color: #ff0000;
}
/* Style for table rows */
.box-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

/* Alternate row color for better readability */
.box-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for rows */
.box-table tr:hover {
  background-color: #ddd;
}

/* Style for the first row (for headers) */
.box-table tr:first-child th {
  border-top: none;
}
  /*------------ End Section for Table css ------------*/


  .flex-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    width: 100% ;
    align-items: center;
  }
  
  .flex-items {
    padding: 10px;
    margin: 5px;
  }
  
  .flex-container .flex-items:last-child {
    margin-left: auto; /* This pushes the last item to the end */
  }
  
  .group-start, .group-end {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
  }
  
  .group-end {
    margin-left: auto; /* Push the second group to the end */
    width: 100%;
  }
  
  .flex-container-row {
    display: flex;
    justify-content: space-evenly; /* Distribute space equally between items */
    width: 100%;
  }
  
  .flex-grow {
    padding: 10px;
    background-color: lightblue;
    margin: 5px;
    flex-grow: 1; /* Ensure each item grows equally */
  }