
/* You can add global styles to this file, and also import other style files */
@import '@cof/omni-styles/index.scss';

@include omni-Reset;
@include omni-Optimist;

body  {
    font-family: 'Optimist', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
    background: #FFF;
}

#apppage .omni-gqydin, #apppage .omni-ysufa2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
    
}
#apppage .omni-ysufa2{
    padding-left: 75px;
    padding-right: 75px;
    background-color: #007F98;
}
#apppage .omni-o6ludv {
  background-color: #FFF;
}

#homepage  {
  background: #fff;
  width: 100%;
  padding-top: 0px;
  width: 100%;
}

.homepage {
  padding-top: 5rem;
}

#homepage .omni-178zswc {
  font-size: 24px;
  font-weight: normal;
}
#homepage .omni-15gm2gy {
  padding-top: 10px;
  text-align: center;
}
#homepage .omni-kgqrxe a {
  color: #397c99;
  text-decoration: none;
}

#homepage  .omni-178zswc{
    font-family: 'Optimist', Courier, monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px ;
    color: #141414;
}

 #homepage .homeBoxTxt{
    height: 100px ;
    font-family: 'Optimist', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

.box-home{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}


  #header .logo {
    margin: 10px 55px 0 0;
  }
  #header .omni-2lzp0v select{
    border: 5px solid #007F98;
    outline: none;
    color: #fff;
    background-color: #007F98;
    font-family: 'Optimist', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;

  }
 
  #header .profile {
    margin: 5px 0 0 5px;
  }
  .setting svg {
    color: #007F98;
  }

  #header .header-nav{
    padding: 0px 20px;
    margin-left: 20px;
  }
  .header-nav li{
    margin: 0px;
    padding: 0px;
    display: inline-block; 
    text-align: left;
    cursor: pointer;
  }
  .header-nav li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 0 20px;
  }
  .header-nav li a span{
    display: inline-block;
    margin: 0 8px 0 0;
    line-height: 28px;
    float: left;
  }

  .header-nav li .active span {
    text-decoration: underline;
  }

  .header-nav li a:hover {
    text-decoration: underline;
  }

  .breadcrumb {
    padding: 8px;
    margin: 0px;
    background: #E1F5FF;
    width: 100%;
    border-left: 4px  solid #0276B1;
  }
  .breadcrumb li{
    padding: 0 15px;
    margin: 0px;
    display: inline-block;
  }
  .breadcrumb li a{
    text-decoration: underline;
    color: #000;
    font-size: 14px;

  }

  /*------------ Section for Table css ------------*/
 .border-complete{
  border-left: 3px  solid #1F7D08;
  background-color: #fff;
  padding-left: 10px;
  overflow-y: scroll;
  height: 475px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  padding-right: 5px;
}
.border-waiting {
  border-left: 4px  solid #00AFD4;
}
.border-running {
  border-left: 4px  solid #E8AD11;
}
.border-failed {
  border-left: 4px  solid #CC2427;
}
#dashboard .omni-854m7t {
  display: block;
}


.border-complete {
  max-width: 100%;
  overflow: hidden;
}

.table-wrapper {
  max-height: 460px;  /* Set the height for scrolling */
  overflow-y: auto;
  display: block;
}

.box-table {
  width: 100%;
  border-collapse: collapse;
}

.box-table th, .box-table td {
  padding: 10px 5px;
  text-align: left;
}

.box-table tr:nth-child(2) th{
  text-transform: uppercase;
  padding-top: 35px;
}

.box-table td.txtUnderline{
  text-decoration: underline;
}

.box-table th span.textCompleted {
  background-color: #1F7D08;
  color: #ffffff;
  text-align: left;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
}
.box-table th span.textWaiting {
  background-color: #00AFD4;
}
.box-table th span.textRunning {
  background-color: #E8AD11;
}
.box-table th span.textFailed {
  background-color: #CC2427;
}

.box-table thead  {   
  border-bottom: 1px solid #ddd;
}
.box-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;  /* You can choose a color */
  z-index: 1;
}

  /*------------ End Section for Table css ------------*/

  .flex-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    width: 100% ;
    align-items: center;
  }
  
  .flex-items {
    padding: 10px;
    margin: 5px;
  }
  
  .flex-container .flex-items:last-child {
    margin-left: auto; /* This pushes the last item to the end */
  }
  
  .group-start, .group-end {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
  }
  
  .group-end {
    margin-left: auto; /* Push the second group to the end */
    width: 100%;
  }
  
  .flex-container-row {
    display: flex;
    justify-content: space-evenly; /* Distribute space equally between items */
    width: 100%;
  }
  
  .flex-grow {
    padding: 10px;
    background-color: lightblue;
    margin: 5px;
    flex-grow: 1; /* Ensure each item grows equally */
  }

  .footer{
    text-align: center;
  }